@using Microsoft.AspNetCore.Mvc.Rendering
@model DataRecordingExportTool.Models.Objects.Table

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@{
    ViewData["Title"] = "Table Creation";
}

<style>
    html, body {
        height: 100%;
        margin: 0;
    }
</style>

<div class="container">
    <div>
        Define Columns Here
    </div>
    <form asp-action="GoToStep3">
        <table>
            <tr>
                @for (int i = 0; i < Model.Columns.Count(); i++)
                {
                    <td>
                        <div class="form-group">
                            <input asp-for="@Model.Columns[i].Name" class="form-control"/>
                            <span asp-validation-for="@Model.Columns[i].Name" class="text-danger" />
                        </div>
                    </td>
                }
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <input type="submit" value="Create Result Table" class="btn btn-primary" />
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
