@model DataRecordingExportTool.Models.Table
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Table Creation";
}

@Html.ValidationScripts()

<div align="center">
    <form>
        <table>
            <tbody>
                <tr>
                    <td>
                        <h2>Create Results Database Table</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="control-label">Data Table Name</label>
                            <input type="text" asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Columns</h4>
                    </td>
                </tr>
                <tr id="ColumnDefinitions">
                </tr>
                <tr>
                    <td>
                        <input type="button" class="btn btn-primary" value="Add New Column" onclick="AddNewColumn()"/>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="submit" value="Create Result Table" class="btn btn-primary"/>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
