@{
    ViewData["Title"] = "Table Creation";
}

<div align="center">
    <h2>Create Results Database Table</h2>
    <input type="hidden" />
    <table>
        <thead></thead>
        <tbody>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="control-label">Data Table Name</label>
                        <input class="form-control" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="control-label">Number of Columns</label>
                        <input class="form-control" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <input type="submit" value="Create Table" class="btn btn-primary" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
