@{
    ViewData["Title"] = "Data Recording";
}

<div align="center">
    <h2>Data Recording</h2>

    <table>
        <thead></thead>
        <tbody>
            <tr>
                <td>
                    <a class="btn btn-primary" asp-area="" asp-controller="Record" asp-action="CreateTableStep1">
                        Create Table
                    </a>
                </td>
                <td>
                    <a class="btn btn-primary" asp-area="" asp-controller="Record" asp-action="RecordData">
                        Record Data
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
