@{
    ViewData["Title"] = "Tool Shortcuts";
}

<style>
    html, body {
        height: 100%;
        margin: 0;
    }
</style>

<div class="container">
    <h1 class="display-4">Data Recording & Export Tool</h1>
</div>
